.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__fieldset {
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5rem;
    gap: 1rem 1.375rem;
  }

  &__button {
    width: fit-content;
    border: 1px solid $blueDark;
    background-color: $blue;
    border-radius: 0.5rem;
    padding: 1.375rem;
    color: $primary;
    font-size: 1rem;
    font-weight: 800;
  }
}

.input-box {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: 0;
    padding: 1.375rem;
    border-radius: 0.5rem;
    background-color: $tertiary;
    color: $secundary;
  }
}

.radio-box {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__radios {
    display: flex;
    gap: 1.375rem;
  }

  &__radio {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    height: 4.3125rem;
  }

  &__input {
    width: 1.5rem;
    height: 1.5rem;
  }
}