.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__result {
    font-size: 1rem;
    font-weight: 600;

    & .green {
      color: $green;
    }

    & .orange {
      color: $orange;
    }

    & .red {
      color: $red;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem auto 1.5rem;
  }

  
}
table{
  margin-bottom: 3rem;
  tbody{
    text-align: center;
    padding: 1.5rem;
    #table_title {
      font-size: 1.7rem;
    }
    td {
      border: 0;
      padding: 1.375rem;
      border-radius: 0.4rem;
      background-color: #E5E5E5;
      color: #000000;
    }
  }
}
.radio-box__radios {
  justify-content: center;
  margin:0.2rem 0 4rem 0;
  .radio-box__radio{
    padding: 1rem;
    align-items:center;
  }
}
.resume {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;

    span {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 800;
    }

    &:nth-child(1) {
      border-bottom: 2px solid $blue;

      p {
        color: $blue;
      }
    }

    &:nth-child(2) {
      border-bottom: 2px solid $green;

      p {
        color: $green;
      }
    }

    &:nth-child(3) {
      border-bottom: 2px solid $orange;

      p {
        color: $orange;
      }
    }
  }
}