@keyframes animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  color: #000000;
  background: #F5F5FA;
  animation: animate 500ms ease-in-out; }

body:before {
  content: '';
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  background-color: #E5E5E5;
  position: absolute; }

body,
input,
textarea,
button {
  font: 400 1rem 'Poppins', sans-serif; }

@media (max-width: 1280px) {
  html {
    font-size: 93.75%; } }

@media (max-width: 767px) {
  html {
    font-size: 87.5%; } }

@media (max-width: 539px) {
  a,
  button,
  div {
    cursor: default !important; } }

.container {
  width: 100%;
  height: 100%;
  display: grid;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  grid-template-columns: 1fr 1fr; }

.container__form {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 4rem 0;
  transition: 500ms ease-in-out; }

.container__dash {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 4rem 0;
  transition: 500ms ease-in-out; }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #E5E5E5; }

.header__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 0.5rem; }

.header__description {
  font-size: 1rem; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column; }

.main__result {
  font-size: 1rem;
  font-weight: 600; }

.main__result .green {
  color: #16BB1C; }

.main__result .orange {
  color: #E19B48; }

.main__result .red {
  color: #E14848; }

.main__title {
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem auto 1.5rem; }

table {
  margin-bottom: 3rem; }

table tbody {
  text-align: center;
  padding: 1.5rem; }

table tbody #table_title {
  font-size: 1.7rem; }

table tbody td {
  border: 0;
  padding: 1.375rem;
  border-radius: 0.4rem;
  background-color: #E5E5E5;
  color: #000000; }

.radio-box__radios {
  justify-content: center;
  margin: 0.2rem 0 4rem 0; }

.radio-box__radios .radio-box__radio {
  padding: 1rem;
  align-items: center; }

.resume {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.resume__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem; }

.resume__info span {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.resume__info p {
  font-size: 1.5rem;
  font-weight: 800; }

.resume__info:nth-child(1) {
  border-bottom: 2px solid #48B3E1; }

.resume__info:nth-child(1) p {
  color: #48B3E1; }

.resume__info:nth-child(2) {
  border-bottom: 2px solid #16BB1C; }

.resume__info:nth-child(2) p {
  color: #16BB1C; }

.resume__info:nth-child(3) {
  border-bottom: 2px solid #E19B48; }

.resume__info:nth-child(3) p {
  color: #E19B48; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column; }

.form__fieldset {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;
  gap: 1rem 1.375rem; }

.form__button {
  width: fit-content;
  border: 1px solid #2691C0;
  background-color: #48B3E1;
  border-radius: 0.5rem;
  padding: 1.375rem;
  color: #F5F5FA;
  font-size: 1rem;
  font-weight: 800; }

.input-box {
  display: flex;
  flex-direction: column; }

.input-box__label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.input-box__input {
  border: 0;
  padding: 1.375rem;
  border-radius: 0.5rem;
  background-color: #E5E5E5;
  color: #000000; }

.radio-box {
  display: flex;
  flex-direction: column; }

.radio-box__label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.radio-box__radios {
  display: flex;
  gap: 1.375rem; }

.radio-box__radio {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  height: 4.3125rem; }

.radio-box__input {
  width: 1.5rem;
  height: 1.5rem; }

  .hora{
    background-color: #E19B48;
  }